*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #5a5a5a;
}

img{
    cursor: pointer;
}

.flex-div{
    display: flex;
    align-items: center;
}

nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10px;
}

.nav-right img{
    width: 25px;
    margin-right: 25px;
}

.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}

.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}

.nav-left .logo{
    width: 130px;
}

.nav-middle .mic-icon{
    width: 16px;
}

.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}

.nav-middle .search-box img{
    width: 15px;
}

/* -------------------sidebar--------------- */

.sidebar{
    /* background: #fff; */
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;  
}

.shortcut-links a img{
    width: 20px;
    margin-right: 20px;
}

.shortcut-links a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;  
}

.shortcut-links a:first-child{
    color: #ed3833;
}

.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}

.subscribed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}

.subscribed-list a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;  
}

.subscribed-list a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.big-image{
    background-image: url(images/banner.png);
    height: 400px;
    margin-left: 250px;
    margin-right: 25px;
    margin-top: 25.4px;
    border-radius: 20px;
}

.main-box img{
    width: 297px;
    height: 220px;
    margin-top: 4px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.box1{
    display: flex;
    margin-left: 250px;
    margin-right: 25px;
    gap: 4px;
}

.chanel .image1 {
    height: 40px;
    width:40px;
    border-radius: 50%;
}

.new{
    display: flex;
    justify-content: center;
    align-items: center;
}

.para {
    font-weight: 600;
    padding-left: 8px;
}

.chanel1 .image2{
    height: 40px;
    width:40px;
    border-radius: 50%;
}

.new1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.para1 {
    font-weight: 600;
    padding-left: 8px;
}

.chanel2 .image3{
    height: 40px;
    width:40px;
    border-radius: 50%;
}

.new2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.para2 {
    font-weight: 600;
    padding-left: 8px;
}

.chanel3 .image4{
    height: 40px;
    width:40px;
    border-radius: 50%;
}

.new3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.para3 {
    font-weight: 600;
    padding-left: 8px;
}


